<!DOCTYPE html>
<html>
  <head>
    <title>RateYourFav</title>
    <h1>Rate Your Fav</h1>
    <%= link_to("Rate More Franchises", franchises_path) %>
    <%= link_to("Add More Franchises", new_franchise_path) %>
    <%= link_to("Logout", logout_path) if session[:user_id] %>
    <%= @user.errors.full_messages if @user && @user.errors.any? %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
